<% layout('layouts/boilerplate.ejs') %>
<div class="justify-content-center align-items-center mt-5 mb-5">
    <div class="row">

        <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h3 class="card-title">Search Experts</h3>


                    <form action="/search/experts" method="POST" class="needs-validation" novalidate>
                        
                        <!-- radio button group for search category selection -->
                        <div class="mt-3 mb-2">
                            
                            <input type="radio" class="btn-check" name="search-type" id="all" value="all" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="all">Any</label>
                            <input type="radio" class="btn-check" name="search-type" id="location" value="location" autocomplete="off" >
                            <label class="btn btn-outline-info" for="location">By Location</label>

                            <input type="radio" class="btn-check" name="search-type" id="skills" value="skills" autocomplete="off" >
                            <label class="btn btn-outline-info" for="skills">By Expertise</label>

                            <input type="radio" class="btn-check" name="search-type" id="offerings" value="offerings" autocomplete="off" >
                            <label class="btn btn-outline-info" for="offerings">By Service Offerings</label>
                            
                            <input type="radio" class="btn-check" name="search-type" id="introduction" value="introduction" autocomplete="off" >
                            <label class="btn btn-outline-info" for="introduction">By Introduction</label>
                            
                            <!-- <div> 
                            <span class="text-muted">Comprehnsively option searches for all of name, location, expertise, and offering services</span>
                            </div> -->
                        </div>
                        
                        <!-- radio button group for availability filter selection -->
                        <div class="mt-3 mb-2">
                            <div class="form-label">
                                <span>Availability of Experts</span>
                            </div>
                            <input type="radio" class="btn-check" name="availability" id="any" value="any" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="any">Any Availability</label>

                            <input type="radio" class="btn-check" name="availability" id="available" value="available" autocomplete="off" >
                            <label class="btn btn-outline-success" for="available">Available Only</label>

                            <input type="radio" class="btn-check" name="availability" id="unavailable" value="unavailable" autocomplete="off" >
                            <label class="btn btn-outline-warning" for="unavailable">Unavailable Only</label>

                        </div>

                        <!-- text input of search keyword -->
                        <div class="mb-3 validate-me">
                            <label class="form-label" for="keyword">Search Keyword</label>
                            <input class="form-control" type="text" id="keyword" name="keyword" placeholder="Enter Keyword..." autofocus required>
                           
                        </div>
                     
                        
                            <button class="btn btn-outline-success btn-block">Search</button>
                       
     
                    </form>


                    <!-- <div class="mt-3">
                        <span class="text"> Do not have an account? <a href="/account/register">Register</a> 
                        <span class="text"> Do not have an account? <a href="/account/register">Register</a> 
                        </span>
                    </div> -->
                </div>
                
            </div>
            
        </div>


    </div>
</div>